#ui-elements {position: absolute; top: 0; left: 0;}
#header {position: absolute; top: 0; left: 0;}
#buttons_eat {position: absolute; left: 0; top: 367px;}
#buttons_menu {position: absolute; left: 267px; top: 406px;}
#powerbar {position: absolute; top: 6px; left: 8px;}
#powerbar div {
	border-top: 3px solid #333; 
	border-left: none; 
	border-right: 3px solid #333; 
	border-bottom: 3px solid #333; 
	height: 16px; width: 16px; float: left; background-color: #FFF;}
#powerbar div.first {border-left: 3px solid #333;}
#powerbar div.on {background-color: #ec1e79;}