#ui-elements {position: absolute; top: 0; left: 0;}
#buttons_eat {position: absolute; left: 0; top:300 px;}
#powerbar {position: absolute; top: 320px; left: 90px; height: 16px; width: 220px;}
#powerbar div {
	border-top: 3px solid #333; 
	border-left: none; 
	border-right: 3px solid #333; 
	border-bottom: 3px solid #333; 
	height: 16px; width: 16px; float: left; background-color: #FFF;}
#powerbar div.first {border-left: 3px solid #333;}
#powerbar div.on {background-color: #ec1e79;}
#eatBtn {position: absolute; top: 350px; left: 121px;}